
<%- include('layouts/header.ejs') %>

<%- include('layouts/nav.ejs') %>

<div class="p-5 mb-4 bg-light-blue rounded-4">
    <div class="container-xl">
        <h1 class="display-5 fw-semibold mb-4">Namaste, Welcome To Employee Profile</h1>
        <hr class="my-3">
        <h1 class="display-5 fw-normal mb-4">Howday, <span class="text-primary fw-semibold"><%= data.name %></span></h1>
        <p class="fw-normal display-6 text-black mb-4">Employee Code: <span class="text-primary fw-semibold text-uppercase"><%= data._id.toString().slice(20, 24) %></span></p>
        <p class="fw-normal display-6 text-black mb-4">Registered on: <span class="text-primary fw-semibold"><%= data.createdAt ? new Date(data.createdAt).toDateString() : 'Date not available' %></span>
        </p>
        <p class="lead fw-normal display-6 text-black mb-4">Email me: <span class="text-primary fw-semibold"><%= data.email %></span>
        </p>
        <p class="col-md-8 fs-4 fw-normal text-black">Using a series of utilities, you can create this jumbotron, just like the one in
            previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your
            liking.</p>
        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start mt-4">
            <a class="btn btn-primary btn-lg px-4 me-sm-2 w-auto" href="/record/add"><i class="bi bi-person-plus-fill fs-5 me-3"></i>Create Record</a>
            <a class="btn btn-danger btn-lg px-4 w-auto" href="/dashboard"><i class="bi bi-eyeglasses fs-4 me-3"></i>View Records</a>
        </div>
    </div>
</div>

<section class="icons">
    <div class="container-xl px-4 py-3" id="hanging-icons">
        <h2 class="py-3 border-bottom">Hanging icons</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
                <div class="icon-square p-3 text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 rounded-3">
                    <i class="bi bi-back fs-2"></i>
                </div>
                <div>
                    <h3 class="fs-2 text-body-emphasis">Featured title</h3>
                    <p class="lead fw-normal">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                        and probably just keep going until we run out of words.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square p-3 text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 rounded-3">
                    <i class="bi bi-back fs-2"></i>
                </div>
                <div>
                    <h3 class="fs-2 text-body-emphasis">Featured title</h3>
                    <p class="lead fw-normal">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                        and probably just keep going until we run out of words.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="icon-square p-3 text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 rounded-3">
                    <i class="bi bi-back fs-2"></i>
                </div>
                <div>
                    <h3 class="fs-2 text-body-emphasis">Featured title</h3>
                    <p class="lead fw-normal">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                        and probably just keep going until we run out of words.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('layouts/footer.ejs') %>